html {
    position: relative;
}

body {
    background: #fffede;
    margin-bottom: 60px;

}

.glyphicon-icons {
    margin: 0 10px 0 12px;
    padding: 5px;
    font-size: 18;
    color: #fffede;
}

.navbar a :hover {
    color: #8d0c00;
}

.navbar {
    padding: 10px 10px 10px 10px;
}

.navbar-search {
    width: 100%;
}

.search-query {
    height: 30px;
    border: 0;
    box-sizing: border-box;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-search {
    height: 30px;
    background: white;
    border: 0;
    cursor: pointer;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-user {
    display: inline-block;
    white-space: nowrap;
    line-height: 42px;
    height: 42px;
    overflow: hidden;
    padding-right: 15%;
    float: right;
    color: #fff;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

.navbar-user a {
    color: #fffede;
    text-decoration: none;
}

.navbar-user a:hover {
    color: #8d0c00;
}

.dropdown-menu {
    background: #fffede;
}

.navbar-user > .dropdown-menu li a{
    font-size: 14px;
    color: #636b6f;
}

.navbar-user > .dropdown-menu li a:hover{
    background : #ffa786;
}

.navbar-user-name{
    padding: 3%;
}

.nav-photo {
    vertical-align: top;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 7px 0;
}

.navbar-default {
    background: #f36246;
}

.content {
    margin: 10px;
    padding: 10px;
    border: 1px solid #eae9c2;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
}

.welcome-info img {
    width: 55%;
    margin-top: 1%;
}

.forms h3 {
    margin: 1%;
}

.login-form form,
.registration-form form {
    margin: 3%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #fffede;
    border-top: 1px solid #eae9c2;;
}

.top-line {
    border: 0;
    height: 1px;
    margin-top: 0px;
    background-image: -webkit-linear-gradient(left, #d1d0b6, #a5a488, #d1d0b3);
}

.user-image {
    padding: 5px;
    border: 1px solid #eae9c2;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 0;
}

.user-image img {
    border: 1px solid #eae9c2;
    height: auto;
    width: 95%;
    margin: 2.5%;
}

.user-info-col {
    height: auto;
    border: 1px solid #eae9c2;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
}

.user-fullname {
    font-size: 30px;
    margin: 2%;
}

.user-about {
    margin-top: 20px;
}

.user-friends-title,
.user-events-title {
    padding: 5%;
    font-size: 12px;
    color: #a4a388;
    border-bottom: 1px solid #eae9c2;;
}

.user-friends {
    border: 1px solid #eae9c2;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
    margin-top: 3%;
    width: 100%;
    height: auto;
}

.user-friends .col-md-4 {
    padding: 0 7px 7px 0;
}

.user-friends img {
     width: 50px;
     height: 50px;
     margin: 7px 0;
 }

.user-friends a {
    font-size: 12px;
}

.user-events {
    border: 1px solid #eae9c2;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 3% 0 3% 0;
    width: 100%;
    height: auto;
}

.user-event-img {
    padding: 3%;
}

.user-event-name {
    font-size: 1vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-event-descr {
    font-size: 0.7vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-events img {
    height: auto;
    width: 100%;
}

.user-info {
    border-bottom: 1px solid #eae9c2;
    vertical-align: bottom;
}

.user-info-title {
    font-size: 14px;
    margin: 2%;
}

.user-info-info {
    height: auto;
    margin: 2% 2% 2% 5%;
    font-size: 16px;
    white-space: normal;

}

