html {
    position: relative;
}

body {
    background: #fffede;
    margin-bottom: 60px;

}

.content img {
    max-width: 100%;
}

.glyphicon-icons {
    margin: 0 10px 0 12px;
    padding: 5px;
    font-size: 18px;
    color: #fffede;
}

.navbar a :hover {
    color: #8d0c00;
}

.navbar {
    padding: 10px 10px 10px 10px;
}

.navbar-search {
    width: 100%;
}

.search-query {
    height: 30px;
    border: 0;
    box-sizing: border-box;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-search {
    height: 30px;
    background: white;
    border: 0;
    cursor: pointer;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-user {
    display: inline-block;
    white-space: nowrap;
    line-height: 42px;
    height: 42px;
    overflow: hidden;
    padding-right: 15%;
    float: right;
    color: #fff;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

.navbar-user a {
    color: #fffede;
    text-decoration: none;
}

.navbar-user a:hover {
    color: #8d0c00;
}

.dropdown-menu {
    left: 35%;
    background: #fffede;
    height: auto;
    border: 1px solid black;
}

.dropdown-menu a,
.form-group-label {
    color: #60697e;
    margin: 0;
}

.dropdown-menu button,
.dropdown-menu > .form-group-input {
    border: 1px solid black;
    margin: 0 2.5%;
    width: 95%;
}

.navbar-user > .dropdown-menu li a {
    font-size: 14px;
    color: #636b6f;
}

.navbar-user > .dropdown-menu li a:hover {
    background: #ffa786;
}

.navbar-user-name {
    padding: 3%;
}

.nav-photo {
    vertical-align: top;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 7px 0;
}

.navbar-default {
    background: #f36246;
}

.content {
    margin: 10px;
    padding: 10px;
    border: 1px solid #eae9c2;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
}

.welcome-info img {
    width: 55%;
    margin-top: 1%;
}

.forms h3 {
    margin: 1%;
}

.login-form form,
.registration-form form {
    margin: 3%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #fffede;
    border-top: 1px solid #eae9c2;;
}

.top-line {
    border: 0;
    height: 1px;
    margin-top: 0px;
    background-image: -webkit-linear-gradient(left, #d1d0b6, #a5a488, #d1d0b3);
}

.user-image {
    padding: 5px;
    border: 1px solid #eae9c2;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 0;
}

.user-image img {
    border: 1px solid #eae9c2;
    height: auto;
    width: 95%;
    margin: 2.5%;
}

.user-col > .btn-info {
    border-radius: 0;
}

.user-info-col,
.event-info-col,
.user-event-info-col,
.event-description-col,
.event-people-list,
.user-event-info-col {
    height: auto;
    border: 1px solid #eae9c2;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
}

.user-fullname {
    font-size: 30px;
    margin: 2%;
}

.user-about {
    margin-top: 20px;
}

.user-friends-title,
.user-events-title,
.event-people-list-title {
    padding: 5%;
    font-size: 12px;
    color: #a4a388;
    border-bottom: 1px solid #eae9c2;;
}

.user-friends {
    border: 1px solid #eae9c2;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
    margin-top: 3%;
    width: 100%;
    height: auto;
}

.user-friends .col-md-4 {
    padding: 0 7px 7px 0;
}

.user-friends img {
    width: 50px;
    height: 50px;
    margin: 7px 0;
}

.user-friends a {
    font-size: 12px;
}

.user-events {
    border: 1px solid #eae9c2;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 3% 0 3% 0;
    width: 100%;
    height: auto;
}

.us-ev {
    padding: 0;
}

.user-event-img {
    padding: 3%;
}

.user-event-name {
    font-size: 14px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-event-descr {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 3%;
}

.user-events img {
    height: auto;
    width: 100%;
}

.user-info {
    border-bottom: 1px solid #eae9c2;
    vertical-align: bottom;
}

.user-info-title {
    font-size: 14px;
    padding: 0;
    margin: 2% 0 2% 2%;
}

.user-info-info {
    height: auto;
    margin: 2% 2% 2% 5%;
    font-size: 16px;
    white-space: normal;
}

.event-info-col {
    margin: 0 0.5% 1% 0;
}

.event-info-col > .event {
    float: left;
    font-size: 36px;
}

.add-event {
    float: right;
    font-size: 30px;
    padding: 2%;
}

.add-event:hover {
    color: #8d0c00;
    cursor: pointer;
}

.events-img img {
    width: 80%;
    height: auto;
}

.events-img {
    padding: 15px 0;
}

.event-name {
    font-size: 26px;
    padding: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-button-group {
    float: right;
}

.join-event {
    margin: 0 1% 0 1%;
    background: #0097ce;
    color: white;
}

.delete-event {
    margin: 0 1% 0 1%;
    background: red;
    color: white;
}

.user-event-info-col {
    margin-bottom: 0.5%;
}

.user-event-name {
    margin: 2%;
}

.user-event-name > a {
    color: #60697e;
}

#overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#new-event-form,
#delete-event-form {
    width: 60%;
    height: auto;
    padding-bottom: 2%;
    border: 1px solid #eae9c2;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
    position: fixed;
    left: 20%;
    margin-top: -260px;
    display: none;
    opacity: 0;
    z-index: 5;
}

#new-event-form .new-event-form-title,
#delete-event-form .delete-event-form-title {
    font-size: 22px;
    margin: 2%;
    padding-bottom: 1%;
    border-bottom: 1px solid #eae9c2;
}

#new-event-form #new-event-form-close:hover {
    color: #8d0c00;
}

#new-event-form #new-event-form-close,
#delete-event-form #delete-event-form-close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 4%;
    right: 10px;
    cursor: pointer;
    display: block;
}

.form-group {
    margin: 0;
}

#new-event-form label {
    padding: 0.5% 2%;
    width: 15%;
}

#new-event-form .form-control {
    width: 75%;
    display: inline;
}

#delete-event-form {
    width: auto;
    margin-top: -100px;
    left: 35%;
}

#delete-event-form .delete-event-form-title {
    border-bottom: none;
    padding: 3% 0 0 3%;
}

#delete-event-form .join-event {
    float: left;
    margin: 2% 10%;
    padding: 2% 4%;
}

#delete-event-form .delete-event {
    float: right;
    margin: 2% 10%;
    padding: 2% 4%;
}

.create-btn {
    float: right;
    margin: 3% 9.5% 0 0;
}

.form-travel {
    display: none;
}

.event-img {
    padding: 15px 0;
}

.event-img img {
    width: 100%;
    height: 300px;
}

.event-info-col > .event-name {
    padding: 0 1%;
}

.event-date > div,
.event-place > div,
.event-comments-title > div {
    display: inline;
    font-weight: bold;
    font-size: 16px;
}

.event-date,
.event-place {
    margin: 0 2% 0.5% 2%;
}

.event-date .glyphicon-time,
.event-place .glyphicon-map-marker,
.event-comments-title .glyphicon-comment,
.glyphicon-remove,
.glyphicon-warning-sign {
    color: #60697e;
    margin-right: 0.5%;
}

.event-description-col {
    margin: 0 0 1% 0;
}

.left-event-block {
    min-width: 70%;
    padding-left: 0;
    margin: 1% 0 0 0;
}

.event-people-list-col {
    padding: 1% 0;
    min-width: 30%;
    float: right;
}

.event-description {
    padding: 0 2% 2% 2%;
    white-space: pre-line;
}

.event-people-list img {
    width: 50px;
    height: 50px;
    margin: 7px 0;
}

.event-people-info > ul {
    list-style-type: none;
    padding: 0;
}

.event-people-info {
    display: inline-block;
    vertical-align: middle;
}

.event-people-list > div {
    border-bottom: 1px solid #eae9c2;
}

.events a {
    text-decoration: none;
    color: #636b6f;
}

.events a:hover {
    text-decoration: none;
    color: #8d0c00;
}

.user-event-info-col {
    margin: 0 1% 0.5% 1%;
}

.user-event-name {
    margin: 2%;
}

.user-event-name > a {
    color: #60697e;
}

#attending-people-list {
    width: 40%;
    height: 80%;
    border: 1px solid #eae9c2;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
    position: fixed;
    margin-top: -260px;
    display: none;
    opacity: 0;
    left: 30%;
    z-index: 11;
}

#elem-attending-people-list:hover {
    cursor: pointer;
}

#attending-people-list #attending-people-list-close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 4%;
    right: 10px;
    cursor: pointer;
    display: block;
}

.attending-people-list-tittle {
    font-size: 22px;
    margin: 2%;
    border-bottom: 1px solid #eae9c2;
}

.glyphicon-warning-sign,
.glyphicon-remove {
    font-size: 15px;
    float: right;
    margin: 2.5%;
    padding: 0;
}

.event-description {
    padding: 0 2% 2% 2%;
    white-space: pre-line;
}

.event-people-list img {
    width: 50px;
    height: 50px;
    margin: 2% 1%;
}

.event-description-col img {
    width: 50px;
    height: 50px;
    margin: 1% 2%;
}

.event-people-info > ul {
    list-style-type: none;
    padding: 0;
}

.event-people-info {
    display: inline-block;
    vertical-align: middle;
}

.event-people-list > div {
    border-bottom: 1px solid #eae9c2;
}

.event-people-info ul .comment-date {
    font-size: 10px;
}

.event-comments-title {
    padding: 1.5% 1.5%;
    border-bottom: 1px solid #eae9c2;
}

.event-comment {
    border-bottom: 1px solid #eae9c2;
    display: inline-block;
    width: 100%;
}

.event-comment > img {
    margin-top: 2.5%;
}

.event-comment textarea {
    resize: vertical;
    width: 100%;
    min-height: 60px;
    border-radius: 5px;
    border: 1px solid #ede9be;
    float: right;
    margin: 2% 2% 0 2%;
    height: 60px;
}

.event-comment-form {
    min-width: 85%;
    float: right;
}

.event-comment-form > .btn-primary {
    color: #fff;
    background-color: #3097D1;
    border-color: #2a88bd;
    margin: 3% 2% 3% 0;
    float: right;
}

.form-report p {
    padding: 1% 5%;
    margin: 0;
}

.form-report textarea {
    height: 60px;
    width: 90%;
    resize: none;
    margin: 0 5%;
}

.form-report .btn-primary {
    float: right;
    margin: 3% 7%;
}

.form-report .btn-default {
    float: left;
    margin: 3% 7%;
}

#delete-event-form {
    display: none;
}

.conversation-block {
    border: 1px solid black;
}

.messages-block {
    border: 1px solid black;

}